/* GLOBAL */

*{
    margin: 0;
    padding: 0;
    /* them padding vao cac the html van dam bao dc kich thuoc khai bao ban dau */
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html{
    /* doi khi dung de khai bao don vi rem */
    font-size: 14px;
    scroll-behavior: smooth;
}
body{
    /* color, background-color, font-family, word spacing, font-size */
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: #fff;
    letter-spacing: 1px;
}
h3{
    color: #000;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header{
    background-color: rgba(25, 25, 25, 0.8);
    position: fixed;
    z-index: 10;
    width: 100%;
}
.header__content{
    color: white;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
.header__item ul{
    list-style: none;
}
.header__content ul li{
    display: inline;
}
.header__item ul a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 2px solid white;
    padding: 10px 15px;
    margin: 0 1em;

    transition: all .5s;
}
.header__item ul a:hover{
    color: #00cdce;
    border-bottom: hidden;
}

.header__content p{
    font-size: 56px;
    font-weight: 300;
    letter-spacing: 2px;
}
.header__content p span{
    color: #00cdce;
}
.owl-carousel .owl-nav button.owl-prev{
    font-size: 111px;
    position: absolute;
    top: 48%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    overflow: hidden;
    text-decoration: none;
    height: 123px;
    width: 102px;
    color: #EAEAEA;
    text-shadow: 0px 3px 6px black;
}
.owl-carousel .owl-nav button.owl-next{
    font-size: 111px;
    position: absolute;
    top: 48%;
    right: 40px;
    opacity: 0.7;
    z-index: 3;
    overflow: hidden;
    text-decoration: none;
    height: 123px;
    width: 102px;
    color: #EAEAEA;
    text-shadow: 0px 3px 6px black;
}

/* CAROUSEL */
.carousel .oneimg{
    background-image: url("../img/b1.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel .twoimg{
    background-image: url("../img/b2.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel .threeimg{
    background-image: url("../img/b3.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel .fourimg{
    background-image: url("../img/b4.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text .text__item{
    text-align: center;
    color: white;
}

.text .text__item h4{
    font-size: 60px;
    font-weight: 900;
    /* color: #FFF; */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0px 0px 10px;
}
.text .text__item p{
    
    font-size: 24px;
    font-weight: 400;
    color: #d3d8d8;
    line-height: 35px;

}


/* .carousel__content .owl-theme .owl-dots .owl-dot span{
    background-color: rgba(0, 0, 0, 0.5);
} */
.carousel__content .owl-theme .owl-dots .owl-dot.active span{
    background-color: black;
}

.carousel__content .owl-dots{
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    color: white;
}
.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 14px;
}

/* ABOUT */
.aboutBig{
    padding: 5em 0;
}
.about{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
.about__content{
    display: flex;
}
.about__item i{
    font-size: 2em;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    line-height: 100px;
    transition: all .5s;
}
.about__item i:hover{
    background-color: #00cdce;
    color: white;
}
.about__item{
    padding: 0 15px;
}
.about__item p{
    line-height: 2em;
    font-size: 15px;
    color: #7f7777;
    margin-top: .8em;
}
.aboutUs{
    margin-top: 1em;
}
.aboutUs h4{
    color: #00cdce;
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    line-height: 1.8em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    /* text-align: center; */
}
.aboutUs p{
    margin: 5px 0 0 0;
    color: #000;
    font-size: 15px;
    text-align: center;
    line-height: 29px;
}

/* STATS */
.statsBig{
    background: #00cdce;
    padding: 5em 0;
}
.stats{
    width: 970px;
    margin: 0 auto;
}
.stats__item{
    display: flex;
    justify-content: space-around;
}
.stats__text p:first-child{
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
    font-size: 44px;
}
.stats__text p:nth-child(2){
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
    color: #000;
}

/* Blog */
.blog{
    padding: 5em 0;
}
.blog h3{
    margin-bottom: 0.8em;
}
.blog__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
    width: 55%;
    margin: 0 auto;
}
.blog__item img{
    /* phu het the cha */
    width: 100%;
    /* xoa khoang trong cua trinh duyet */
    display: block;
}
.blog__item{
    border-top: 5px solid #00cdce;
    background-color: #F3F3F3;
}
.blog__text{
    padding: 1.5em;

}
.blog__text a{
    font-weight: 500;
    line-height: 1.1;
    padding: 0;
    font-size: 21px;
    color: #00CDCE;
    text-decoration: none;
    transition: all .5s;
    cursor: pointer;
}
.blog__text p{
    font-size: 15px;
    color: #000;
    margin: .5em 0em;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
}
.blog__text a:hover{
    color: black;
}
.blog__text .button{
    margin-top: 1em;
}
.blog__text .button a{
    color: #00cdce;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #000;
    padding: 7px 18px;
    background: #000;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
}
.blog__text .button:hover a{
    color: white;
}

#dialog-content{
    width: 600px;
    margin: 30px auto;
}

.dialog__tittle{
    font-size: 2.6em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #00cdce;
}
.dialog__tittle h2{
    font-weight: 600;
}
.fancybox__content {
    padding: 0;
}
.dialog__details{
    padding: 22px;
    text-align: center;
}
.dialog__details img{
    width: 550px;
}
.dialog__details p{
    font-size: 15px;
    color: #999;
    text-align: left;
    padding: 2em 2em 1em;
    margin: 0; 
    line-height: 2em;
}
.fancybox__content>.carousel__button.is-close {
    top: 40px;
    right: 16px;
    color: #a0260f;
}
.fancybox__container {
    --carousel-button-svg-stroke-width: 4.5px;
    --carousel-button-svg-filter: drop-shadow(1px 1px 1px #fff);
}

/* GET MORE */
.more{
    width: 100%;
}
.more__content{
    display: flex;
    min-width: 801px;
}
.video{
    flex: 1;
    background: url("../img/video.jpg");
    background-size: cover;
    padding: 0;
    text-align: center;
}
.more__details{
    flex: 1;
    padding: 0 5.5em;
    background: #00cdce;
    text-align: center;
}
.more__details h2{
    text-align: center;
    margin: 1em 0 .5em;
    font-size: 42px;
    color: #000;
}
.more__details p{
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 2em;
    text-align: center;
}
.more__details .button a{
    color: #00cdce;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #000;
    padding: 7px 18px;
    background: #000;
    display: inline-block;
    transition: all .5s;
    margin: 2em 0em 4em;
}
.more__details .button:hover a{
    color: white;
}
.video .button{
    margin: 11em 0em 0em;
}
.video .button a{
    padding: 16px 19px;
    top: 10em;
    left: 26.5em;
    display: inline-block;
    background: rgba(0, 189, 189, 0.53);
    border-radius: 55%;
    color: #ffffff;
    outline: none;
    transition: 0.5s all;
}
.video .button i{
    font-size: 35px;
    top: 2px;
    display: inline-block;
}
.fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    max-width: 500px;
    max-height: 447px;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content, .fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    background: rgb(255, 255, 255);
    padding: 1em;
}

/* PORTFOLIO */
.portfolio{
    padding: 3em 0em;
}
.portfolio h3{
    margin-bottom: 0.8em;
}
.portfolio__content{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 13px;
    width: 57%;
    margin: 0 auto;
    padding: 0 15px;
}
.portfolio__item{
    position: relative;
}
.portfolio__item img{
    width: 100%;
    display: block;
}
.portfolio__hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    opacity: 0;
    transition: all .5s;
}
.portfolio__details{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    padding: 1.5em 4em;
}
.portfolio__details h3{
    padding: 0.8em 0px;
    font-size: 1.5em;
    color: #00cdce;
    text-transform: uppercase;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 1.8em;
}
.portfolio__details p{
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.portfolio__hover:hover{
    opacity: 1;
}

.fancybox__toolbar__items--left{
    width: 100%;
}
.fancybox__toolbar__items {
    display: block;
}
 .fancybox__button--zoom, .fancybox__button--slideshow, .fancybox__button--fullscreen, .fancybox__button--thumbs{
    display: none;
}
/* SUBCRIBE */
.subcribe{
    width: 100%;
    padding: 3em 0em;
    background-color: #00cdce;
    text-align: center;
}
.sub__content{
    width: 55%;
    margin: 0 auto;
    padding: 0 15px;
}
.sub__details h3{
    font-size: 3.5em;
    margin-bottom: 0.8em;
}
.sub__details p{
    padding: 1em 11em;
    font-size: 15px;
    margin-bottom: 1em;
}
.sub__form form input{
    padding: 15px;
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    outline: none;
    letter-spacing: 1px;
    width: 50%;
}

.sub__form form button{
    display: block;
    margin: 0.8em auto 0;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    padding: 6px 50px;
    border: 1px solid #000;
    outline: none;
    background-color: #000;
    border-radius: 0px;
    cursor: pointer;
    transition: all .5s;
}

.sub__form form button:hover{
    background-color: white;
    color: black;
}

/* AGENTS */
.agents{
    width: 100%;
    padding: 5em 0;
}
.agents__content{
    width: 1170px;
    margin: 0 auto;
}
.agents__details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 15px;
}
.agents__content h3{
    margin-bottom: 0.8em ;
}
/* .agents__item{
    position: relative;
} */
.agents__item img{
    width: 100%;
    display: block;
}
.agents__item{
    padding: 0 15px;
    transition: all .5s;
}

.team{
    padding: 1.5em 1em;
    width: 100%;
    text-align: center;
    /* bottom: 1px;
    position: absolute; */
    background: rgba(0, 0, 0, 0.79);
}
.team h4{
    margin: 0;
    color: #00cdce;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.team p{
    color: #FFFFFF;
    font-size: .9em;
}
.team__social{
    margin-top: 1em;
}
.team__social i{
    width: 34px;
    height: 34px;
    border: 2.5px solid white;
    text-align: center;

    /* cho = chieu cao can giua theo chieu doc */
    line-height: 34px;
    margin: 0 10px;
    transition: all .5s;
    color: white;
}

.agents__item:hover .team h4{
    color: white;
}

.team__social i:first-child:hover{
    background-color: #1d7fcf;
}
.team__social i:nth-child(2):hover{
    background-color: #5bb0f5;
}
.team__social i:nth-child(3):hover{
    background-color: rgb(228, 103, 0);
}

/* MAPS */
.maps__content iframe{
    width: 100%;
}
.maps{
    border: 2px solid #00b6e3;
    background: #bbb;
    padding: 1em;
}

/* CONTACT */
.contact{
    width: 100%;
    padding: 5em 0;
}
.contact h3{
    margin-bottom: 0.8em ;
}
.item1 { grid-area: name; }
.item2 { grid-area: message; }
.item3 { grid-area: last; }
.item4 { grid-area: email; }
.item5 { grid-area: phone; }
.item6 { grid-area: submit; }
.contact__form form{
    width: 54%;
    /* height: 221px; */
    display: grid;
    grid-template-areas: 
    'name message'
    'last message'
    'email message'
    'phone submit';
    margin: 0 auto;
    gap: 15px 30px;
}
.contact__form input, textarea{
    background: rgb(239, 239, 239);
    /* outline: none; */
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 2px #999;
}
.contact__form input:nth-child(6){
    background: black;
    color: white;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    cursor: pointer;
    transition: all .5s;
}
.contact__form input:nth-child(6):hover{
    color: black;
    background: #00cdce;
}

/* FOOTER */
footer{
    width: 100%;
    background: #00cdce;
    padding: 2.5em 0;
}
.footer__content{
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: baseline;
}
.footer__content span{
    color: red;
    transition: all .5s;
    cursor: pointer;
}
.footer__content span:hover{
    color: white;
}
.footer__content .team__social1 i{
    width: 34px;
    height: 34px;
    border: 1px solid white;
    text-align: center;
    /* cho = chieu cao can giua theo chieu doc */
    line-height: 34px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
    transition: all .5s;
}
.footer__content .team__social1 i:first-child:hover{
    color: rgb(0, 56, 139);
}
.footer__content .team__social1 i:nth-child(2):hover{
    color: rgb(0, 140, 255);
}
.footer__content .team__social1 i:nth-child(3):hover{
    color: orangered
}
.footer__content .team__social1 i:nth-child(4):hover{
    color: rgb(0, 48, 80)
}


/* SIDEBAR */
.toggle-right-sidebar span {
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}
.pull-right {
    float: right;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}
#right-sidebar {
    width: 90px;
    position: fixed;
    height: 100%;
    z-index: 1000;
    right: 0px;
    top: 0;
    margin-top: 60px;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}
#w3lDemoBar.w3l-demo-bar {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 40px 5px;
    padding-top: 70px;
    margin-bottom: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
#w3lDemoBar.w3l-demo-bar .demo-btns {
    border-top: 1px solid #41414d;
    padding-top: 30px;
}
#w3lDemoBar.w3l-demo-bar a {
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
}
#w3lDemoBar.w3l-demo-bar span.w3l-icon {
    display: block;
}
